@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica Neue Medium";
  src: url(./assests/helvetica-neue-medium.ttf);
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url(./assests/helvetica-neue-bold.ttf);
}

html,
body {
  height: 100%;
  position: relative;
  font-family: "Helvetica Neue Bold", sans-serif;
  --lightYellow: #F7F570;
  --darkYellow: #FFE98D;
  --darkGreen: #7DB8B1;
  --lightGreen: #AFD7CE;
  --amplify-components-button-primary-color: black;
  --amplify-components-button-primary-background-color: var(--lightYellow);
  --amplify-components-button-primary-hover-background-color: var(--darkGreen);
  --amplify-colors-brand-primary-100: #F7F570;
  --amplify-colors-brand-primary-90: #F7F570;
  --amplify-colors-brand-primary-80: #F7F570;
  --amplify-colors-brand-primary-70: #F7F570;
  --amplify-colors-brand-primary-60: #F7F570;
}

/*
 * Amplify UI Basic Theme

[data-amplify-authenticator] {
  --amplify-colors-background-primary: #7DB8B1;
  --amplify-colors-background-secondary: #7DB8B1;
  --amplify-colors-brand-primary-10: #7DB8B1;
  --amplify-colors-brand-primary-80: #7DB8B1;
  --amplify-colors-brand-primary-90: #7DB8B1;
  --amplify-colors-brand-primary-100: #7DB8B1;
  --amplify-colors-font-interactive: #7DB8B1;
  --amplify-components-tabs-item-active-color: #7DB8B1;
  --amplify-components-tabs-item-focus-color: #7DB8B1;
  --amplify-components-tabs-item-hover-color: #7DB8B1;
}

 */
